CMakeLists.txt.user
.idea/
cmake-build-debug
KeyFrameTrajectory.txt
orb_slam2/Thirdparty/DBoW2/build/
orb_slam2/Thirdparty/DBoW2/lib/
orb_slam2/Thirdparty/g2o/build/
orb_slam2/Thirdparty/g2o/config.h
orb_slam2/Thirdparty/g2o/lib/
orb_slam2/Vocabulary/ORBvoc.txt
build/
*~
lib/
.DS_Store
.sync-config.cson
